Cython==0.21
CythonGSL==0.2.1
Pillow==2.7.0
SQLAlchemy==1.0.4
Theano==0.7.0
argparse==1.2.1
bokeh==0.8.2
future==0.14.3
gensim==0.10.3
h5py==2.4.0
-e git+https://github.com/mvictor212/hmmlearn@f1409da9a754cd4dbc4c2c2fb5a5e3dfd86f8bc1#egg=hmmlearn-master
ipython==2.4.0
matplotlib==1.4.2
numexpr==2.4.3
numpy==1.9.2
pandas==0.16.1
pymc3==3.0
pymssql==2.1.1
pyodbc==3.0.10
pysqlite==2.6.3
pytz==2013b
pyzmq==14.6.0
scikit-bio==0.2.3
scikit-image==0.10.1
scikit-learn==0.15.2
scipy==0.15.1
seaborn==0.5.1
sqlparse==0.1.11
statsmodels==0.5.0
tornado==3.2.1
